# Dependencies for both client and server
/client/node_modules
/server/node_modules

# Production build folder for React client
/client/build

# Environment variables (important for the server)
/server/.env
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / Editor specific files (optional but good practice)
.vscode/
.idea/